@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.2274 0.0363 254.2554);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0 0 0);
    --primary: oklch(0.505 0.1966 260.1801);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.6026 0.1167 172.0848);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.9598 0.0161 262.753);
    --muted-foreground: oklch(0.538 0.0231 267.1177);
    --accent: oklch(0.7518 0.1303 253.5655);
    --accent-foreground: oklch(0 0 0);
    --destructive: oklch(0.6195 0.1167 224.3332);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(74.869% 0.01773 259.484);
    --input: oklch(0.5329 0.0263 268.8038);
    --ring: oklch(0.7052 0.1971 260.1876);
    --sidebar: oklch(1 0 0);
    --sidebar-foreground: oklch(0 0 0);
    --sidebar-primary: oklch(0.505 0.1966 260.1801);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(1 0 0);
    --sidebar-accent-foreground: oklch(0 0 0);
    --sidebar-border: oklch(0.9333 0.0259 266.6072);
    --sidebar-ring: oklch(0.6052 0.1971 260.1876);
    --chart-1: oklch(0.5954 0.212 260.1361);
    --chart-2: oklch(0.5912 0.1619 255.5277);
    --chart-3: oklch(0.7458 0.1318 257.5845);
    --chart-4: oklch(0.412 0.1413 256.1144);
    --chart-5: oklch(0.417 0.1807 261.0454);
    --radius: 0.5rem;
    --letter-spacing: 0em;
    --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
    --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
    --font-serif: Georgia, Cambria, "Times New Roman", serif;
    --radius-sm: 0.375rem;
    --radius-md: 0.5rem;
    --radius-lg: 0.75rem;
    --radius-xl: 1rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 8px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.12;
    --shadow-color: oklch(0 0 0);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 2px 8px 0px oklch(0 0 0 / 0.06);
    --shadow-xs: 0px 2px 8px 0px oklch(0 0 0 / 0.06);
    --shadow-sm: 0px 2px 8px 0px oklch(0 0 0 / 0.12),
        0px 1px 2px -1px oklch(0 0 0 / 0.12);
    --shadow: 0px 2px 8px 0px oklch(0 0 0 / 0.12),
        0px 1px 2px -1px oklch(0 0 0 / 0.12);
    --shadow-md: 0px 2px 8px 0px oklch(0 0 0 / 0.12),
        0px 2px 4px -1px oklch(0 0 0 / 0.12);
    --shadow-lg: 0px 2px 8px 0px oklch(0 0 0 / 0.12),
        0px 4px 6px -1px oklch(0 0 0 / 0.12);
    --shadow-xl: 0px 2px 8px 0px oklch(0 0 0 / 0.12),
        0px 8px 10px -1px oklch(0 0 0 / 0.12);
    --shadow-2xl: 0px 2px 8px 0px oklch(0 0 0 / 0.3);
}

.dark {
    --background: oklch(0.2016 0.0297 266.0348);
    --foreground: oklch(0.9923 0.0042 236.4952);
    --card: oklch(0.1714 0.0304 268.185);
    --card-foreground: oklch(1 0 0);
    --popover: oklch(0.1714 0.0304 268.185);
    --popover-foreground: oklch(1 0 0);
    --primary-foreground: oklch(0 0 0);
    --secondary-foreground: oklch(0 0 0);
    --muted: oklch(0.2147 0.0405 262.3869);
    --muted-foreground: oklch(0.7203 0.0267 263.2847);
    --accent-foreground: oklch(1 0 0);
    --destructive: oklch(0.7486 0.117 214.4871);
    --destructive-foreground: oklch(0 0 0);
    --border: oklch(0.2822 0.0497 262.6775);
    --input: oklch(0.3828 0.0499 263.0813);
    --ring: oklch(0.55 0.1875 258.246);
    --sidebar: oklch(0.2016 0.0297 266.0348);
    --sidebar-foreground: oklch(1 0 0);
    --sidebar-primary: oklch(0.6505 0.1877 258.208);
    --sidebar-primary-foreground: oklch(0 0 0);
    --sidebar-accent: oklch(0.1614 0.0289 266.8257);
    --sidebar-accent-foreground: oklch(1 0 0);
    --sidebar-border: oklch(0.2822 0.0497 262.6775);
    --sidebar-ring: oklch(0.55 0.1875 258.246);
    --shadow-color: oklch(0 0 0);
    --shadow-2xs: 0px 2px 8px 0px oklch(0 0 0 / 0.06);
    --shadow-xs: 0px 2px 8px 0px oklch(0 0 0 / 0.06);
    --shadow-sm: 0px 2px 8px 0px oklch(0 0 0 / 0.12),
        0px 1px 2px -1px oklch(0 0 0 / 0.12);
    --shadow: 0px 2px 8px 0px oklch(0 0 0 / 0.12),
        0px 1px 2px -1px oklch(0 0 0 / 0.12);
    --shadow-md: 0px 2px 8px 0px oklch(0 0 0 / 0.12),
        0px 2px 4px -1px oklch(0 0 0 / 0.12);
    --shadow-lg: 0px 2px 8px 0px oklch(0 0 0 / 0.12),
        0px 4px 6px -1px oklch(0 0 0 / 0.12);
    --shadow-xl: 0px 2px 8px 0px oklch(0 0 0 / 0.12),
        0px 8px 10px -1px oklch(0 0 0 / 0.12);
    --shadow-2xl: 0px 2px 8px 0px oklch(0 0 0 / 0.3);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);

    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);

    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);

    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
        font-family: "Inter", sans-serif;
    }
}

/* Toggle Styles */
:root {
    --toggleHeight: 16em;
    --toggleWidth: 30em;
    --toggleBtnRadius: 10em;

    /* Toggle Colors */
    --toggle-bg-night: #423966;
    --toggle-bg-day: #ffbf71;
    --toggle-moon-color: #d9fbff;
    --toggle-sun-color: #ffffff;
    --toggle-star-color: rgba(255, 255, 255, 0.1);
}

.dark {
    /* Dark theme toggle colors */
    --toggle-bg-night: #2d1b3d;
    --toggle-bg-day: #e8a95b;
    --toggle-moon-color: #c7e8ff;
    --toggle-sun-color: #fefefe;
    --toggle-star-color: rgba(255, 255, 255, 0.15);
}

.tdnn {
    font-size: 30%; /* Scales the entire toggle */
    height: var(--toggleHeight);
    width: var(--toggleWidth);
    border-radius: var(--toggleHeight);
    transition: all 500ms ease-in-out;
    background: var(--toggle-bg-night);
}
.tdnn.day {
    background: var(--toggle-bg-day);
}

.toggle-btn {
    transition: all 400ms ease-in-out;
    width: var(--toggleBtnRadius);
}

.moon {
    /* Position and appearance for the Moon */
    top: 3em;
    left: 3em;
    transform: rotate(-75deg);
    background: var(--toggle-bg-night);
    box-shadow: 3em 2.5em 0 0em var(--toggle-moon-color) inset,
        var(--toggle-star-color) 0em -7em 0 -4.5em,
        var(--toggle-star-color) 3em 7em 0 -4.5em,
        var(--toggle-star-color) 2em 13em 0 -4em,
        var(--toggle-star-color) 6em 2em 0 -4.1em,
        var(--toggle-star-color) 8em 8em 0 -4.5em,
        var(--toggle-star-color) 6em 13em 0 -4.5em,
        var(--toggle-star-color) -4em 7em 0 -4.5em,
        var(--toggle-star-color) -1em 10em 0 -4.5em;
}

.sun {
    /* Position and appearance for the Sun */
    top: 4.5em;
    left: 18em;
    transform: rotate(0deg);
    width: 7em;
    height: 7em;
    background: var(--toggle-sun-color);
    box-shadow: 3em 3em 0 5em var(--toggle-sun-color) inset,
        0 -5em 0 -2.7em var(--toggle-sun-color),
        3.5em -3.5em 0 -3em var(--toggle-sun-color),
        5em 0 0 -2.7em var(--toggle-sun-color),
        3.5em 3.5em 0 -3em var(--toggle-sun-color),
        0 5em 0 -2.7em var(--toggle-sun-color),
        -3.5em 3.5em 0 -3em var(--toggle-sun-color),
        -5em 0 0 -2.7em var(--toggle-sun-color),
        -3.5em -3.5em 0 -3em var(--toggle-sun-color);
}
